.sg-component
{
  margin: 2em 0;
  border: 1px solid #ececec;
}

.sg-component__header
{
  padding: 1.5em;
  background: #f7f7f7;
  border-bottom: 1px solid #ececec;
}

  .sg-component__title
  {
    margin: 0;
    padding: 0;
    font: 600 0.75rem/1.2 'Helvetica', 'Arial', sans-serif;
    text-transform: uppercase;
    color: #333;
  }

  .sg-component__sass
  {
    margin: .5em 0 0;
    padding: 0;
    font: 400 italic 0.75rem/1.2 'Helvetica', 'Arial', sans-serif;
  }

.sg-component__body
{
  padding: 1.5em;
}

.sg-h2
{
  font:normal 100%/1.2 'Helvetica', 'Arial', sans-serif;
  margin-bottom: 1em;
  font-size: 1.75rem;
  text-transform:uppercase;
}